/*=================================
SCSS file
Developed by Nabalas©
2021

Bootstrap and fontawesome linked
================================= */


//Overwrite variables
$blueslate: #8ecae6;
$coolgray: #219ebc;
$indanblue: #023047;
$goldenrod: #ffb703;
$sunburst: #fb8500;

$primary: $indanblue;

// Import bootstrap
@import '../bootstrap/scss/bootstrap.scss';

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&family=Lato:wght@400;700&family=Quattrocento+Sans:wght@400;700&family=Shadows+Into+Light&display=swap');

$font-primary: 'Cantarell', sans-serif;
$font-secondary: 'Lato', sans-serif;
$font-alternative: 'Quattrocento Sans', sans-serif;
$font-logo: 'Shadows Into Light', cursive;

.font-primary{
    font-family: $font-primary;
}

.font-secondary{
    font-family: $font-secondary;
}

.font-alternative{
    font-family: $font-alternative;
}

.font-logo{
    font-family: $font-logo;
}

//General
.h-twenty{
    min-height: 16rem;
}

.h-45{
    height: 47%;
}

.h-22{
    height: 24%;
}

.h-68{
    height: 70%;
}

.overflow-x-hidden{
    overflow-x: hidden;
}

.preloaded {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.text-coolgray{
    color: $coolgray !important;
}

//Header
header{
    img{
        width: 5rem;
    }

    .dropdown{
        .dropdown-menu{
            overflow: hidden !important;
            .dropdown-item{
                transition: all 0.3s ease !important;

                &:hover{
                    transform: translateX(0.25rem);
                }
            }
        }

        #call-us{
            color: $coolgray !important;
        }
    }
}

//Main
main{

    //Section
    section{

        #searchInfo{
            h2{
                font-size: 3.5rem;
            }

            #searchGroup{
                height: 5rem;

                #searchDiv{
                    position: relative;

                    #searchInput{
                        border-radius: 25px;
                    }
                }
                
                #searchButton{
                    transform: translateY(-3.375rem);
                }

            }
        }

        #squaresInfo{

            .options-title{
                font-size: 1.25rem;
            }

            #left{
                div{
                    div{
                        border-radius: 1rem;
                    }

                    div:first-child{
                        width: 40%;
                        background-color: $blueslate;
                    }
                    div:nth-child(2){
                        width: 50.75%;
                        background-color: $coolgray;
                    }
                    div:last-child{
                        width: 92.5%;
                        background-color: $indanblue;

                        h6{
                            color: $light;
                        }
                    }
                }
            }

            #right{
                div{
                    // flex-direction: column;

                    div{
                        border-radius: 1rem;
                    }

                    div:first-child{
                        width: 92.5%;
                        // height: 97.5%;
                        background-color: $goldenrod;
                    }
                    div:nth-child(2){
                        width: 49.75%;
                        // height: 47.5%;
                        background-color: $sunburst;
                    }
                    div:last-child{
                        width: 41%;
                        // height: 47.5%;
                        background-color: $blueslate;
                    }
                }
            }
        }    
    }

    //Aside
    aside{
        //width: 22.5% !important;
        border-radius: 1rem;

        div{
            border-radius: 1rem;

            h5:first-child{
                background-color: $blueslate;
                cursor: pointer;
            }
            h5:nth-child(2){
                background-color: $coolgray;
                cursor: pointer;
            }
            h5:last-child{
                background-color: $blueslate;
                cursor: pointer;
            }
        }
    }
}

//Footer
footer{
    .container{
        background-color: #1a1b1b;

        .social-media{
            transition: all 0.3s ease !important;

            &:hover{
                color: $goldenrod !important;
                transform: translateY(-0.25rem) !important;
            }
        }

        .policy{
            transition: all 0.3s ease !important;

            &:hover{
                color: whitesmoke !important;
                transform: translateY(-0.25rem) !important;
            }
        }
    }
}


//Media queries
@media screen and (min-width: '992px'){
    .col-lg-3{
        width: 22.5%;
    }
}

@media screen and (max-width: '767px'){
    .h-twenty{
        min-height: 30rem;
    }

    main section #searchInfo h2{
        font-size: 3rem;
    }

    main section #squaresInfo{
        // height: 40rem;
    }
}

@media screen and (max-width: '575px'){
    .h-twenty{
        min-height: 30rem;
    }

    header{
        img{
            width: 4rem;
        }

        #boxModal{
            #spanPhone{
                font-size: 1rem !important;
            }
        }
    }

    .h-22, .h-45, .h-68{
        height: 25%;
    }

    main{
        section{
            #searchInfo h2{
                font-size: 2.5rem;
            }

            #searchInfo #searchGroup{
                height: 7rem;

                #searchButton{
                    transform: translateY(0);
                }
            }

            #squaresInfo{
                #left{
                    div{
                        div:first-child{
                            width: 90%;
                            background-color: $blueslate;
                        }
                        div:nth-child(2){
                            width: 90%;
                            background-color: $coolgray;
                        }
                        div:last-child{
                            width: 90%;
                            background-color: $indanblue;
                        }
                    }
                }
                #right{
                    div{
                        div{
                            border-radius: 1rem;
                        }
                        div:first-child{
                            width: 90%;
                            background-color: $goldenrod;
                        }
                        div:nth-child(2){
                            width: 90%;
                            background-color: $sunburst;
                        }
                        div:last-child{
                            width: 90%;
                            background-color: $blueslate;
                        }
                    }
                }
            }
        }
    }
    
}

